In [1]:
import numpy as np
import pandas as pd

In [539]:
train = pd.read_csv("coursera_sessions_train.txt", delimiter=';', header=None, dtype=str)
#s1 = str.join(',', ['59', '60', '61', '62', '60', '63', '64', '65', '66', '61', '67', '68', '67'])
#s2 = str.join(',',['67','60', '63'])
#train = pd.DataFrame([[s1, s2]])
train['view'] = train[0]
train['buy'] = train[1]

In [540]:
train

,0,1,view,buy
0,"0,1,2,3,4,5",NaN,"0,1,2,3,4,5",NaN
1,"9,10,11,9,11,12,9,11",NaN,"9,10,11,9,11,12,9,11",NaN
2,"16,17,18,19,20,21",NaN,"16,17,18,19,20,21",NaN
3,"24,25,26,27,24",NaN,"24,25,26,27,24",NaN
4,"34,35,36,34,37,35,36,37,38,39,38,39",NaN,"34,35,36,34,37,35,36,37,38,39,38,39",NaN
5,42,NaN,42,NaN
6,"47,48,49",NaN,"47,48,49",NaN
7,"59,60,61,62,60,63,64,65,66,61,67,68,67","67,60,63","59,60,61,62,60,63,64,65,66,61,67,68,67","67,60,63"
8,"71,72,73,74",NaN,"71,72,73,74",NaN
9,"76,77,78",NaN,"76,77,78",NaN
10,"84,85,86,87,88,89,84,90,91,92,93,86",86,"84,85,86,87,88,89,84,90,91,92,93,86",86
11,"114,77,115,116,117,118,119,120,121,120,122,123...",NaN,"114,77,115,116,117,118,119,120,121,120,122,123...",NaN
12,"129,130,131,132,133,134",NaN,"129,130,131,132,133,134",NaN
13,"93,137,138,139,140,141,142,141,143,144",NaN,"93,137,138,139,140,141,142,141,143,144",NaN
14,"97,155,156,155,157,93",NaN,"97,155,156,155,157,93",NaN
15,"163,87,129,164,129,130,165,166",NaN,"163,87,129,164,129,130,165,166",NaN
16,"173,174,175,174,176",NaN,"173,174,175,174,176",NaN
17,"136,192",NaN,"136,192",NaN
18,"195,196",NaN,"195,196",NaN
19,"138,198,199,127",199,"138,198,199,127",199
20,"206,207",NaN,"206,207",NaN
21,"216,217",NaN,"216,217",NaN
22,220,NaN,220,NaN
23,"223,224,225",NaN,"223,224,225",NaN
24,"241,242,243,244,245,246,247,248,249,242",NaN,"241,242,243,244,245,246,247,248,249,242",NaN
25,"253,254,169",NaN,"253,254,169",NaN
26,"262,263,262,264",NaN,"262,263,262,264",NaN
27,"265,266,267,268,269,270,269,268,271,272,273,27...",NaN,"265,266,267,268,269,270,269,268,271,272,273,27...",NaN
28,291,NaN,291,NaN
29,"296,297,298,299",NaN,"296,297,298,299",NaN
...,...,...,...,...
49970,"102761,24754,48117,14732,162,46291,102762,1092...",NaN,"102761,24754,48117,14732,162,46291,102762,1092...",NaN
49971,"9399,93922,23810,16769,10976,16580,102776,1027...",NaN,"9399,93922,23810,16769,10976,16580,102776,1027...",NaN
49972,"13344,13037,99575,22310,34469,16194,90788,2146...",NaN,"13344,13037,99575,22310,34469,16194,90788,2146...",NaN
49973,"10258,22738,982,17615,48769,102794,49168,1431,...",NaN,"10258,22738,982,17615,48769,102794,49168,1431,...",NaN
49974,"16024,8367,16024,17060,17061,75302,49246,102801",NaN,"16024,8367,16024,17060,17061,75302,49246,102801",NaN
49975,"18211,40362,81465,86547,40362,81465",NaN,"18211,40362,81465,86547,40362,81465",NaN
49976,"1748,8509,8521,7594",NaN,"1748,8509,8521,7594",NaN
49977,"56484,62543,57533",NaN,"56484,62543,57533",NaN
49978,"38846,16421,8321",NaN,"38846,16421,8321",NaN
49979,"20408,33706,41416,33706,41416,20408,41416,2040...",NaN,"20408,33706,41416,33706,41416,20408,41416,2040...",NaN
49980,"390,4535,381,382,381",NaN,"390,4535,381,382,381",NaN
49981,"64552,25931,2807","25935,2807","64552,25931,2807","25935,2807"
49982,"30508,2915,17064,38717",NaN,"30508,2915,17064,38717",NaN
49983,"2582,3059",NaN,"2582,3059",NaN
49984,49195,NaN,49195,NaN
49985,"35572,27139,42308,2503,49977,35569,17942,35569...",NaN,"35572,27139,42308,2503,49977,35569,17942,35569...",NaN
49986,"17711,21841,17711,21841,17711,21841",NaN,"17711,21841,17711,21841,17711,21841",NaN
49987,"1480,2639,1480,1054,557,10991,1055,1054,10991,...",NaN,"1480,2639,1480,1054,557,10991,1055,1054,10991,...",NaN
49988,"29504,14159,24162",NaN,"29504,14159,24162",NaN
49989,"9831,3059,2581",NaN,"9831,3059,2581",NaN
49990,"42379,64439,43687,47097,18694,32320",NaN,"42379,64439,43687,47097,18694,32320",NaN
49991,"91921,20251,5063,21742,5063,20251,34927",91921,"91921,20251,5063,21742,5063,20251,34927",91921
49992,"102802,83951,102802",NaN,"102802,83951,102802",NaN
49993,"28165,24167,28165",NaN,"28165,24167,28165",NaN
49994,"99782,92081,18697,92081,18697,42615,99782,7188...",NaN,"99782,92081,18697,92081,18697,42615,99782,7188...",NaN
49995,"32291,60520,32291,38220",32291,"32291,60520,32291,38220",32291
49996,"60479,28288,102804,102805",NaN,"60479,28288,102804,102805",NaN
49997,"980,20025,980,20025,980,20025,980,20025",NaN,"980,20025,980,20025,980,20025,980,20025",NaN
49998,"8844,42500,8838,8172,29237,352,8847,6681,8827,...",NaN,"8844,42500,8838,8172,29237,352,8847,6681,8827,...",NaN
49999,"39047,102806,27774",NaN,"39047,102806,27774",NaN

In [567]:

view_arr = []
for row in train.view:
    ids = row.split(',')
    for idvalstr in ids:
        view_arr.append(int(idvalstr))
        
buy_arr = []
for row in train.buy:
    if type(row) is str:
        ids = row.split(',')
        for idvalstr in ids:
            buy_arr.append(int(idvalstr))

In [568]:
from collections import Counter
from collections import OrderedDict

class OrderedCounter(Counter, OrderedDict):
     'Counter that remembers the order elements are first encountered'

     def __repr__(self):
         return '%s(%r)' % (self.__class__.__name__, OrderedDict(self))

     def __reduce__(self):
         return self.__class__, (OrderedDict(self),)

In [569]:
counter_view=Counter(view_arr)
counter_buy=Counter(buy_arr)

In [570]:
#AverageRecall@1, AveragePrecision@1, AverageRecall@5, AveragePrecision@5

In [576]:
def get_metrics(data, hist, k):
    kf = float(k)
    recall = []
    precision = []
    for index, row in data.dropna().iterrows():
        ids = row[0].split(',')
        idvals = map(int, ids)
        freqs = OrderedCounter()
        #print idvals
        for idval in idvals:
            #if idval in hist.index:
                #freqs[idval] = hist.loc[idval][1]
                #print idval, hist[idval]
                freqs[idval] = hist[idval]
            #else:
            #    freqs[idval] = 0
        #s_vals = OrderedC(sorted(freqs.items(), key=lambda t: -t[1]))
        #print freqs
        s_vals_pairs = freqs.most_common(k)# OrderedCounter(freqs.values)
        #print s_vals_pairs
        s_vals = map(lambda x: x[0],s_vals_pairs)
        #print s_vals
        #print ''
        #print 'raw ', freqs.items()
        #print  'sort ', s_vals
        b_ids = row[1].split(',')
        b_idvals = map(int, b_ids)
        #print 'rec ', s_vals.keys()[:k]
        #print 'buy ', b_idvals
        #print np.unique(s_vals)
        inter = np.intersect1d(s_vals, b_idvals)
        #print '-------'
        #print inter
        rec = float(inter.shape[0]) / float(len(b_ids))
        #print rec
        recall.append(rec)
        
        prec = float(inter.shape[0]) / kf #min(kf, len(idvals))
        #print prec
        precision.append(prec)
        
    return (round(np.mean(recall), 2), round(np.mean(precision), 2))

In [577]:
vm1 = get_metrics(train, counter_view, 1)
print vm1
vm2 = get_metrics(train, counter_view, 5)
print vm2
bm1 = get_metrics(train, counter_buy, 1)
print bm1
bm2 = get_metrics(train, counter_buy, 5)
print bm2

(0.44, 0.51)
(0.82, 0.21)
(0.69, 0.8)
(0.93, 0.25)

In [579]:
test = pd.read_csv("coursera_sessions_test.txt", delimiter=';', header=None, dtype=str)
#s1 = str.join(',', ['59', '60', '61', '62', '60', '63', '64', '65', '66', '61', '67', '68', '67'])
#s2 = str.join(',',['67','60', '63'])
#train = pd.DataFrame([[s1, s2]])
test['view'] = test[0]
test['buy'] = test[1]

In [580]:
vm1 = get_metrics(test, counter_view, 1)
print vm1
vm2 = get_metrics(test, counter_view, 5)
print vm2
bm1 = get_metrics(test, counter_buy, 1)
print bm1
bm2 = get_metrics(test, counter_buy, 5)
print bm2

(0.42, 0.48)
(0.8, 0.2)
(0.46, 0.53)
(0.82, 0.21)